<!-- page author: Kevin Sutherland -->
<?php include 'header.php';?>
<div class="container main">
    <div class="container middlewrap">
        <h1>Media Records</h1>
    </div>
</div>
<main id="search-result-wrap" class="media-records"></main>
<script src="<?php echo BASE_URL;?>assets/javascripts/mediaRecords.js"></script>
<?php include 'footer.php';?>
