<header id="header">
  <div class="overlay"></div>
  <div class="header-wrap">
    <% if (url == '/portfolio') { %>
    <h1 class="center-text"><%= pages[3].heading %></h1>
    <div class="wrap center-text">
      <small>Below you will see a collection of projects that I have helped develope.  Mouse over each image, and click on them for more information.</small>
    </div>
    <% } else { %>
    <h1><%= pages[0].heading %></h1>
    <div class="wrap">
      <div class="btn about-me-js">View My Work</div>
    </div>
    <% } %>
  </div>
</header>
