<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Partials practice with EJS and Express">
  <meta property="og:description" content="Partials practice with EJS and Express">
  <meta property="og:title" content="Partials Practice">
  <meta property="og:type" content="Project">
  <meta property="og:url" content="https://github.com/suuuth">
  <meta name="geo.region" content="US-MI">
  <meta name="geo.placename" content="East Lansing">
  <meta name="geo.position" content="42.734163;-84.4828162">
  <meta name="ICBM" content="42.734163, -84.4828162">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="../../images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" type="text/css" href="../../styles/compiled/css/style.css">
  <title>Kevin Sutherland</title>
</head>
<body class="url-js <%= url == '/resume' ? 'hide-overflow' : '' %>" url="<%= url %>">