<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/header %>

<% if(bands) { %>
<main class="band">
    <article class="description">
        <p class="description"><%= bands.description %></p>
        <p><a href="<%= bands.youtube %>" target="_blank">Check them out on youtube!</a></p>
    </article>
    <figure class="figure">
        <img src="../../images/album-artwork<%= bands.image_path %>">
        <figcaption>Released: <%= bands.released %></figcaption>
    </figure>
</main>
<% } %>

<% include ../partials/footer %>