<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/header %>

<main class="bio">
  <div class="head">
    <img src="../../images/profile-pic.jpg" alt="profile picture">
  </div>
  <p>Hello!  My name is Kevin and welcome to my portfolio website.  I graduated from Michigan State University in 2018 with a B.A. in Media and Information, focusing on Web Design and Development.</p>
  <hr>
  <div class="skills">
    <div class="left-col">
      <h4>Skills</h4>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Sass / LESS</li>
        <li>JavaScript</li>
        <li>JQuery / AJAX</li>
        <li>PHP</li>
        <li>C#</li>
        <li>Mobile Responsiveness</li>
        <li>Cross-Browser Compatibility</li>
        <li>Wordpress</li>
      </ul>
    </div>
    <div class="right-col">
      <h4>Frameworks</h4>
      <ul class="frameworks">
        <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
        <li><a href="https://expressjs.com/">Express</a></li>
        <li><a href="http://ejs.co/">EJS</a></li>
        <li><a href="https://laravel.com/">Laravel 5.4</a></li>
      </ul>
      <h4>Tools</h4>
      <ul>
        <li>Git / SVN (Version Control)</li>
        <li>Invision / Trello / GitLab (Project Management)</li>
        <li>Node.js</li>
        <li>Firebase</li>
        <li>Postman</li>
        <li>Unity</li>
        <li>Microsoft Office</li>
        <li>Adobe Creative Cloud</li>
      </ul>
    </div>
  </div>
</main>

<% include ../partials/footer %>