<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/header %>

<main class="bio">
  <div class="head">
    <img class="waypoint waypoint-js" animation="fade-in" src="../../images/profile-pic.jpg" alt="profile picture">
  </div>
  <h2 class="center-text waypoint-js" animation="slide-in-right">About Me</h2>
  <p class="waypoint-js" animation="slide-in-left">Hello!  My name is Kevin and welcome to my portfolio website.  I graduated from Michigan State University in 2018 with a B.A. in Media and Information, focusing on Web Design and Development.</p>
  <hr>
  <h2 class="center-text skills-header waypoint-js" animation="slide-in-right">Skills</h2>
  <div class="skills waypoint-js" animation="fade-in">
    <div>
      <h4 class="list-header">Languages</h4>
      <ul>
        <li><a href="#"></a>JavaScript 6</li>
        <li><a href="http://ejs.co/">EJS</a></li>
        <li>Php</li>
        <li><a href="https://laravel.com/docs/5.7/blade">Blade</a></li>
        <li>Sass & CSS</li>
        <li>HTML5</li>
        <li>C#</li>
      </ul>
      <h4 class="list-header">Frameworks</h4>
      <ul class="frameworks">
        <li><a href="https://laravel.com/">Laravel</a></li>
        <li><a href="https://expressjs.com/">Express</a></li>
        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
      </ul>
    </div>
    <div>
      <h4 class="list-header">Command Line Tools</h4>
      <ul>
        <li>Git</li>
        <li><a href="https://subversion.apache.org/">svn</a></li>
        <li><a href="http://compass-style.org/">Compass</a></li>
        <li><a href="https://yarnpkg.com/en/">Yarn</a></li>
        <li><a href="https://nodejs.org/en/about/">Node</a></li>
        <li>npm</li>
      </ul>
      <h4 class="list-header">Project Tools</h4>
      <ul>
        <li>GitLab</li>
        <li>Trello</li>
        <li>Invision</li>
        <li>Node.js</li>
        <li>Firebase</li>
        <li>Postman</li>
        <li>Unity</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="work-experience waypoint-js" animation="slide-in-right">
    <h3>Work Experience</h3>
    <div class="job">
      <h4>Programmer</h4>
      <div class="job-desc">
        <strong><a href="http://www.matrix.msu.edu/">Matrix,</a> East Lansing, MI, December 2017 - Present</strong>
        <p>My first developer job.  I was initially hired as a Front End Dev, and since work responsibilities have expanded to be closer to that of a Full-Stack Dev.  A typical day here invovles checking GitLab to see what issues need to be addressed, utilizing Git to ensure my code is up-to-date, and addressing issues with any combination of Php, JavaScript, JQuery, Sass, Blade templates, and HTML, depending on what the issue is.  The current project I am working on is a RESTful web application that is built in Laravel and connected to a MySQL database, and functions as a digital repository.  You can read more about it <a href="https://www.github.com/matrix-msu/kora3">here</a> on github.</p>
      </div>
    </div>
  </div>
  <div class="center-text view-projects waypoint-js" animation="fade-in">
    <a href="/portfolio">View My Projects</a>
  </div>
</main>

<% include ../partials/footer %>