<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/header %>

<main class="bio">
  <div class="head">
    <img src="../../images/profile-pic.jpg" alt="profile picture">
  </div>
  <h3 class="center-text">About Me</h3>
  <p>Hello!  My name is Kevin and welcome to my portfolio website.  I graduated from Michigan State University in 2018 with a B.A. in Media and Information, focusing on Web Design and Development.</p>
  <hr>
  <div class="skills">
    <div class="left-col">
      <h4 class="list-header">Skills</h4>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Sass / LESS</li>
        <li>JavaScript</li>
        <li>JQuery / AJAX</li>
        <li>PHP</li>
        <li>C#</li>
        <li>Mobile Responsiveness</li>
        <li>Cross-Browser Compatibility</li>
        <li>Wordpress</li>
      </ul>
    </div>
    <div class="right-col">
      <h4 class="list-header">Frameworks</h4>
      <ul class="frameworks">
        <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
        <li><a href="https://expressjs.com/">Express</a></li>
        <li><a href="http://ejs.co/">EJS</a></li>
        <li><a href="https://laravel.com/">Laravel 5.4</a></li>
      </ul>
      <h4 class="list-header">Tools</h4>
      <ul>
        <li>Git / SVN (Version Control)</li>
        <li>Invision / Trello / GitLab (Project Management)</li>
        <li>Node.js</li>
        <li>Firebase</li>
        <li>Postman</li>
        <li>Unity</li>
        <li>Microsoft Office</li>
        <li>Adobe Creative Cloud</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="work-experience">
    <h3>Work Experience</h3>
    <div class="job">
      <h4>Programmer</h4>
      <div class="job-desc">
        <strong><a href="http://www.matrix.msu.edu/">Matrix,</a> East Lansing, MI, December 2017 - Present</strong>
        <p>During my time here at Matrix, I have been involved in numerous projects.  My responsibilities on these projects have been anything from maintenance on existing sites, to creating templates from scratch to be used by other Developers to create new sites for new clients.  I work directly with the Head Designer, who helps to ensure that we create the best UI and UX possible.  The tools we use include SVN and Git for version control, Trello, and more recently, GitLab for project and project task management, and Mattermost for collaboration and communication.  Primary code utilization includes HTML5, Sass and CSS, JavaScript, JQuery and AJAX, and PHP7.</p>
      </div>
    </div>
  </div>
  <div class="center-text view-projects">
    <a href="/portfolio">View My Projects</a>
  </div>
</main>

<% include ../partials/footer %>