<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/header %>

<!-- HTML 5 states that the <a> element "may be wrapped around entire paragraphs, lists, tables, and so forth, even entire sections, so long as there is no interactive content within (e.g. buttons or other links)". -->

<main class="portfolio-index">
  <div class="project-display">

    <div class="project">
      <a class="project-link" href="http://kora3.matrix.msu.edu/">
        <img src="../../images/portfolio/kora.png" alt="Templates Project">
        <div class="content">
          <div class="title">Kora 3</div>
          <div class="description">

          <!-- Notes:
          | Web Application
          | Functions as a digital respository
          | Features RESTful API
          | Framework: Laravel (5.4)
          | Languages:
          | | PHP
          | | Embedded PHP Laravel language (Blade)
          | | JavaScript
          | | JS Libs:
          | | | Jquery <- This includes frequent use of Ajax
          | | | Jquery.ui
          | | Sass / CSS
          | | HTML5 -->

        I currently spend all of my time working on this.  This project is a web application that functions as a digital respository for Matrix's clients to use for data management.  This application utilizes a RESTful API which is written in Php using the Laravel framework.  Laravel comes with a few more tools, including Compass (Command line tool for compiling Sass files) as well as Blade for templating.  Prior to working on this, I had never used Larvel or Php.  I learned both of these skills on-the-job as I worked with the help of my co-workers at Matrix, StackExchange, and the Laravel Docs.  This project also features JQuery and JQuery-UI, heavy use of Ajax, and Sass.</div>
        </div>
      </a>
    </div>

    <div class="project">
      <img src="../../images/portfolio/templates.png" alt="Templates Project">
      <div class="content">
        <div class="title">Templates</div>
        <div class="description">This is another project I worked on for Matrix.  Here I created the majority of these pages from scratch, again with the aid of designs provided to me on Invision.  The purpose of this project was to create a template that would then be edited to fit a client's requests.  This project was created with the use of HTML, Sass and CSS, JS, and JQuery.</div>
      </div>
    </div>

    <div class="project">
      <!-- TODO: Photoshop the logo onto the picutre just like with Halcyon Sailing! -->
      <a class="project-link" href="http://liberatedafricans.org/">
        <img src="../../images/portfolio/libafr.jpg" alt="Liberated Africans">
        <div class="content">
          <div class="title">Liberated Africans</div>
          <div class="description">I did not create this site!  This was an existing site at Matrix that desperately needed attention from a good front-end developer.  I have done constant maintenance on this site in the form of refactoring code, restructuring CSS to help reduce redundant code, removing any and all inline CSS from HTML files, and updating icons and images as needed.  Besides this, I completely restructured some of these pages <!-- (<a href="http://liberatedafricans.org/searchResults.php?keyword=ogoo">search result page</a>, and <a href="http://liberatedafricans.org/events.php?eventType%5B%5D=Case">Cases page</a> for example)  -->with more up-to-date CSS properties to make them more mobile-friendly and cross-browser compatible.</div>
        </div>
      </a>
    </div>

    <div class="project">
      <a class="project-link" href="https://suuuth.github.io/matrix-frontend-test/">
        <img src="../../images/portfolio/front-end-test.png" alt="Front-end Test">
        <div class="content">
          <div class="title">Front-End Test</div>
          <div class="description">This webpage was a page I made for the hiring process at my first professional development job at MSU's Matrix.  If I made it well enough, I would be hired.  For this page, a designer drew what he wanted on Invision, which is a digital product design platform, and I coded the website together from scratch.  This project was made with HTML, CSS, JS, and JQuery, and was also created to be cross-browser compatible as well as mobile-friendly.</div>
        </div>
      </a>
    </div>

    <div class="project">
      <!-- TODO: Photoshop the logo onto this image -->
      <a class="project-link" href="http://halcyonsailing.net/">
        <img src="../../images/portfolio/halcyon.jpg" alt="halcyon sailing">
        <div class="content">
          <div class="title">Halcyon Sailing</div>
          <div class="description">This was the first real website I helped create.  I started this during my junior year of high school for my dad, who had always dreamed of owning his own sailing school and charter business. This was primarily made with Wordpress with a little bit of HTML, CSS, and JS to help iron out the bugs.</div>
      </div>
    </a>
    </div>

  </div>
</main>

<% include ../partials/footer %>